
  /* Começo página Baleias */
  .pagina_secB, .segunda_secB{
    width: 100%;
    padding: 10px;
  }
  .primeira_secB{
    display: flex;
    /*  background-color: var(--azul-marinho); */
    margin: 0;
    height: 650px;
    /* width: 100%; */
    gap: 70px;
    align-items: center;
  }
  .caixa-textoB{
    background-color: var(--azul-escuro);
    color: var(--bege-claro); /*cor da fonte*/
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(7, 69, 128, 0.842); /* Sombra para destaque */
    width: 36%;
    height: 490px;
    margin-left: 50px;
    margin-bottom: 30px;
    text-align: left;
  }
  .tituloTextoB{
    margin: 0;
    font-size: 190%;
    text-align: center;
  }
  .textoB{
    font-size: 92%;
    margin: 0;
  }
  .caixa-imagemB{
    line-height: 170%;
  }
  .caixa-imagemB h1{
    color: var(--azul-marinho);
    font-size: 260%;
    margin: 0;
    margin-left: 5px;
  }
  .titulo-baleias{
    margin-bottom: 10px;
  }
  .caixa-imagemB p{
    color: var(--azul-escuro);
    font-size: 120%;
    margin-top: 0;
  }
  .imagem-baleia img{
    width: 110%;
    height: 140%;
    margin-left: 40px;
    margin-bottom: 10px;
  }
  .segunda_secB{
    min-height: 700px; 
    margin: 0;
    padding: 10px 0;
    background-color: var(--azul-escuro);
    text-align: center;
  }
  .segunda_secB h1{
    color: var(--bege-claro);
    font-size: 350%;
    font-weight: 300;
    margin: 0;
    margin-top: 12px;
  }
  .segunda_secB p{
    color: var(--bege-claro);
  }
  .segunda_secB #baleiaC, #baleiaA{
  /* background-color: var(--bege-claro); */
    border: 2px solid rgb(175, 149, 107);
    font-size: 150%;
    margin-top: 10px;
    margin-left: 0px;
    height: 38px;
    width: 292px;
    border-radius: 5px;
  }
  .segunda_secB #baleiaF, #baleiaB{
  /* background-color: var(--bege-claro);*/
    border: 2px solid rgb(175, 149, 107);
    font-size: 150%;
    margin-top: 10px;
    margin-left: 0px;
    height: 38px;
    width: 294px;
    border-radius: 5px;
  }
  .segunda_secB h1, p{
    line-height: 170%;
  
  }
  .galeriaB{
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: space-around;
    align-items: center;
  }
  .fotosB {
    display: flex;
    /* background-color: var(--azul-marinho); */
    color: var(--bege-claro);
    padding: 20px;
    border-radius: 10px;
    width: 22%;
    height: 400px;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .fotosB img{
    width: 100%;
    height: 90%;
    border-radius: 8px;
  }
  .fotosB p{
    color: var(--bege-medio);
    font-size: 120%;
    margin-top: 10px;
    margin-bottom: 0;
  }
  .terceira_secB{
    background-color: var(--azul-escuro);
    display: flex;
    height: 600px;
  
    border: 5px solid var(--bege-claro); 
  }
  .containerB {
    display: flex;
    background-color: var(--azul-escuro);
    justify-content: space-between;
    gap: 20px;
    padding: 30px;
    width: 100%;
  }
  .tSec_boximagem h2 {
    font-size: 24px;
    height: 50px;
    margin-bottom: 20px;
  }
  .tSec_boximagem {
    /* background-color: var(--azul-marinho); */
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: center;
    color: var(--bege-claro);
  }
  
  .tSec_boximagem img {
    width: 100%;
    max-width: px; 
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); 
  }
  
  .tSec_texto {
    width: 60%;
    background-color: var(--bege-claro); /* Fundo branco */
    color: var(--azul-escuro);
    padding: 15px;
    margin: 0;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Sombra */
  }