:root {
    --azul-marinho: #010f29;
    --azul-escuro: #094c93;
    --azul-medio: #0c73b2;
    --turquesa: #3cbcc7;
    --bege-claro: #eae1c8;
    --bege-medio: #dfc39d;
    --bege-escuro: #af956b;
}

/* fundo do site */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #eae1c8;
    box-sizing: border-box; /* Inclui padding e border no cálculo de width/height */
  }

  /* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--azul-escuro);
    color: white;
    padding: 1rem 2rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}
.LogoCB img {
    height: 50px; /* Ajuste conforme necessário */
    cursor: pointer;
    width: auto; /*mantem a proporção da imagem*/
    
  }

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    gap: 1.5rem;
    margin: 0;
    padding: 0;

}
.navbar a{
    position: relative;
    text-decoration: none;
    color: var(--azul-medio);
    font-size: 16px;
    margin: 0 15px;
    transition: color 0.4s ease;/*aplica transição de cor do link de 
    maneira suave ao sair e entrar do hover*/
}
.navbar a::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: var(--turquesa);
    transition: all 0.4s ease;
    transform: translate(-50%);
}
.navbar a:hover::after{
    width: 100%;
}

.navbar ul li a {
    color: var(--bege-claro);
    text-decoration: none;
    font-size: 1rem;
    font-size: large;
    margin: 20px;
}

.navbar ul li a:hover {
    color: var(--turquesa);
}

  /* Seção Hero com vídeo de fundo */
  #videoprincipal {
    position: relative;
    height: 918px;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo com transparência, se necessário */
  }
  
  #video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Garante que o vídeo fique atrás do conteúdo */
    
  }
  
  #background-video {
    object-fit: cover; /* Garante que o vídeo cubra toda a tela */
    width: 100%;
    height: 100%;
  }

  .imagem-fundo{
    background-image: url('../img/aqua.svg');
    background-size: cover; /* Isso faz a imagem cobrir toda a área da section */
    background-position: center; /* Isso garante que a imagem fique centralizada */
    /*background-attachment:fixed; /* A imagem de fundo vai rolar junto com o conteúdo */
    height: 980px; /* Defina a altura da seção de acordo com o seu design */
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    color:var(--azul-escuro); /* Cor do texto para destacar sobre a imagem */
    position: relative;
    padding: 20px;
   
  }

  .esquerda{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .bloco{
    position: relative;
    margin-top: 50px;
    margin-left: 40px;
    background-color: var(--azul-escuro);
    padding: 15px;
    width: 820px;
    height:350px;
    border-radius: 80px; /* Cantos arredondados */
    box-shadow: 0px 4px 6px rgba(7, 69, 128, 0.842); /* Sombra para destaque */

  }
.texto1{
  position: absolute;
  top:7%;
  left: 3%;
  color:var(--bege-claro);
  line-height: 140%;
  font-size: 41px;
  text-align: left;
  font-weight: 200;
}
.texto2{
    line-height: 144%;
    position: absolute;    /* Posiciona em relação ao bloco */
    top: 10%;              /* Centraliza verticalmente */
    left: 3%;             /* Centraliza horizontalmente */
    color:var(--bege-claro);
    font-size: 37px;       /* Tamanho da fonte */
    text-align: left;    /* Centraliza o texto dentro do parágrafo */
}
  .direita {
    top: 30px; /* Distância do topo */
    right: 30px; /* Distância da direita */
    background-color: rgba(0, 0, 0, 0.6); /* Fundo preto semi-transparente */
    color: rgb(106, 25, 172); /* Texto branco */
    padding: 10px 15px; /* Espaçamento interno */
    text-align: right;
    height: 60px;position: relative;
    margin-top: 50px;
    margin-left: 40px;
     background-color: var(--azul-escuro);
     padding: 15px;
     width: 300px;
     height:35px;
  
}
.direita h3{
  color: var(--azul-medio);
  font-size: 66px;
  font-style: oblique;
  margin-top: 2px;
  
}
  #segundaparte{
    text-align: left;
    margin-top: 100px;
    margin-bottom: 200px;
    margin-left: 35px;
    display: flex;
  }


  #ondastexto{
    color: #094c93;
    font-size: 350%;
    margin-right: 10%;
    /* background-color: #3cbcc7;    */
    /* padding-top: 10%; */
    letter-spacing: -1px; /* Espaçamento de 2 pixels entre as letras */
    line-height: 108%;
    
  }

  #imagemonda{
    width: 40%;
      /* background-color: blue;     */
    padding-bottom: 0%;
    margin-top: 1%;
    margin-left: 50px;
  }

  #codebluetexto{
    font-size: 80%;
    margin-top: 10px;
    display: block;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0px; /* Espaçamento de 2 pixels entre as letras */
  }

/* Começo página Baleias */
.pagina_secB, .segunda_secB{
  width: 100%;
  padding: 10px;
}
.primeira_secB{
  display: flex;
 /*  background-color: var(--azul-marinho); */
  margin: 0;
  height: 650px;
  /* width: 100%; */
  gap: 70px;
  align-items: center;
}
.caixa-textoB{
  background-color: var(--azul-escuro);
  color: var(--bege-claro); /*cor da fonte*/
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 6px rgba(7, 69, 128, 0.842); /* Sombra para destaque */
  width: 36%;
  height: 490px;
  margin-left: 50px;
  margin-bottom: 30px;
  text-align: left;
}
.tituloTextoB{
  margin: 0;
  font-size: 190%;
  text-align: center;
}
.textoB{
  font-size: 92%;
  margin: 0;
}
.caixa-imagemB{
  line-height: 170%;
}
.caixa-imagemB h1{
  color: var(--azul-marinho);
  font-size: 260%;
  margin: 0;
  margin-left: 5px;
}
.titulo-baleias{
  margin-bottom: 10px;
}
.caixa-imagemB p{
  color: var(--azul-escuro);
  font-size: 120%;
  margin-top: 0;
}
.imagem-baleia img{
  width: 110%;
  height: 140%;
  margin-left: 40px;
  margin-bottom: 10px;
}
.segunda_secB{
  min-height: 700px; 
  margin: 0;
  padding: 10px 0;
  background-color: var(--azul-escuro);
  text-align: center;
}
.segunda_secB h1{
  color: var(--bege-claro);
  font-size: 350%;
  font-weight: 300;
  margin: 0;
  margin-top: 12px;
}
.segunda_secB p{
  color: var(--bege-claro);
}
.segunda_secB #baleiaC, #baleiaA{
  /* background-color: var(--bege-claro); */
  border: 2px solid rgb(175, 149, 107);
  font-size: 150%;
  margin-top: 10px;
  margin-left: 0px;
  height: 38px;
  width: 292px;
  border-radius: 5px;
}
.segunda_secB #baleiaF, #baleiaB{
 /* background-color: var(--bege-claro);*/
  border: 2px solid rgb(175, 149, 107);
  font-size: 150%;
  margin-top: 10px;
  margin-left: 0px;
  height: 38px;
  width: 294px;
  border-radius: 5px;
}
.segunda_secB h1, p{
  line-height: 170%;

}
.galeriaB{
  display: flex;
  width: 100%;
  height: 500px;
  justify-content: space-around;
  align-items: center;
}
.fotosB {
  display: flex;
  /* background-color: var(--azul-marinho); */
  color: var(--bege-claro);
  padding: 20px;
  border-radius: 10px;
  width: 22%;
  height: 400px;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
}
.fotosB img{
  width: 100%;
  height: 90%;
  border-radius: 8px;
}
.fotosB p{
  color: var(--bege-medio);
  font-size: 120%;
  margin-top: 10px;
  margin-bottom: 0;
}
/* Final página Baleias */

  